/* shared styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}
.section-description{
 
  color: rgba(7, 2, 17, 0.60);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  
}

/* header related styles */
.header {
  max-width: 1320px;
  background-color: red;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../img/Banner\ Image.png");
  border-radius: 16px;
  background-repeat: no-repeat;
}
.header-title {
  padding: 177px 344px 0 344px;
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}
.header-description {
  padding: 0 344px 145px 344px;
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
}

/* main related styles */
main {
  max-width: 1320px;
  margin: 0 auto;
  margin-top: 120px;
}
main section {
  margin-bottom: 120px;
}

/* discount section related styles */

.discount-all-ctg-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discount-all-ctg-header {
  color: #f00;
  text-align: center;
  font-size: 88px;
  font-weight: 700;
  padding-bottom: 48px;
  font-family: "Inter", sans-serif;
}

.discount-all-ctg-header-description {
  font-family: "Inter", sans-serif;
  color: #f00;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 16px;
  padding-top: 0;
}

.discount-all-ctg-subtitle {
  color: #070211;
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  padding-top: 0;
  padding-bottom: 48px;
}

.discount-all-ctg-img{
  max-width: 800px;
  height: 500px;
}

/* midnight party section related styles */

.midnight-party {
  background-image: url("../img/Vectorrr.png");
  background-repeat: no-repeat;
  color: white;
}

.midnight-container {
  display: flex;
  gap: 90px;
  flex-direction: row;
  align-items: center;
  padding: 70px 130px;
}

.midnight-header {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
  padding-bottom: 24;
}

.midnight-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  padding-top: 0;
  padding-bottom: 48px;
}

.midnight-joinow-btn {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  background: transparent;
  padding-left: 32px;
}
/* started behaya ponar placing section related styles */

.placing {
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  text-align: center;
}

.placing span {
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
}

.place-time-area {
  padding: 100px 300px;
}

.place-time-area h3 {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.place-time {
  padding-bottom: 48px;
}

.place-btn {
  border: 0;
  border-radius: 8px;
  background: #f00;
  padding: 16px 32px;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

/* new year offers section related styles */
.new-year-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  max-width: 1600px;
}

/* newoffers offers related styles */
.offers {
  
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  max-width: 390px;
}
.best-offers {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.comming-soon {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  padding-bottom: 22px;
  padding-top: 16px;
}
.offers-description {
  
}

/* newoffers images related styles */
.images{
    border-radius: 463px;
border: 15px solid #F00;
max-width: 460px;
max-height: 460px;
margin: 0 110px 0 70px;
}

.newoffer-img{
    padding:40px;
}

/* .newoffers wishing related styles */
.wishing {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    max-width: 300px;
    margin-top: 61px;
}

.new-year{
    color: #F00;
    font-family: "Merriweather", serif;
font-size: 48px;
font-weight: 700;
}

.wishing-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: "Inter", sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 32px; /* 160% */
padding-top: 16px;
}
.wishing-img{
    padding-top: 43px;
}