/* shared styles */
* {
    margin: 0;
    padding: 0;
  font-family: "Merriweather", serif;
}

/* header related styles */
.header {
  max-width: 1320px;
  background-color: red;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) , url("../img/Banner\ Image.png");
  border-radius: 16px;
  background-repeat: no-repeat;
}
.header-title {
  padding: 177px 344px 0 344px;
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}
.header-description {
  padding: 0 344px 145px 344px;
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
}

/* main related styles */
main{
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 120px;
}



/* discount section related styles */

.discount-section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discount-header{
    color: #F00;
text-align: center;
font-size: 88px;
font-weight: 700;
padding-bottom: 48px;
font-family: 'Inter', sans-serif;
}
.discount-header-description{
    font-family: 'Inter', sans-serif;
    color: #F00;
text-align: center;
font-size: 24px;
font-weight: 500;
padding-bottom: 16px;
padding-top: 0;
}
.discount-subtitle{
    color: #070211;
    font-family: 'Inter', sans-serif;
text-align: center;
font-size: 48px;
font-weight: 700;
padding-top: 0;
padding-bottom: 48px;
}
.discount-img{
    max-width: 800px;
height: 500px;
}